button {
    margin: 5px;
    padding: 5px 25px;
    border: 1px solid #480774;
    border-radius: 8px;
    font-size: 15px;
    text-transform: capitalize;
    background-color:#5A5A5A;
    color: #ffffff;   
}

input {
    margin: 5px;
    padding: 10px 20px;
    border: 1px solid #480774;
    border-radius: 5px;
}

.checkbox {
    width: 20px;
    height: 20px;
    margin: 12px;
}

.pro {
    /* margin: 30px;
    padding: 10px;
    align-items: center;
    border: 3px solid goldenrod;
    border-radius: 10px;
    box-shadow: gold; */
  text-align: center;
  width: 70%;
  margin: 10px auto;
  background: whitesmoke;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px #a6652c;
}

.weather {
    text-align: center;
    width: 70%;
    margin: 40px auto;
    background: whitesmoke;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 2px 2px 10px #3bb7dc;
}

/* .text {
    color: 30px solid blue;
} */

.security{
        border: 1px solid #480774;
        font-size: 15px;
        text-transform: capitalize;
        background-color:#0f0909;
        text-align: center;
        width: 70%;
        margin: 10px auto;
        background: rgb(255, 255, 255);
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0px 0px 10px #0c0a07;
}
button{
    margin: 0px;
    padding: 10px;
    padding-left: 14px;
    padding-right: 14px;
    border: 1px solid #480774;
    border-radius: 3px;
    font-size: 15px;
    text-transform: capitalize;
    background-color:#0f0909;
    color: #ffffff;   
    text-align: center;
}
.Enter{
    margin: 0px;
    padding-top: 10px;
    padding-left: 18px;
    padding-right: 19px;
}
.BackSpace{
    margin: 0px;
    padding-left: 15px;
    padding-right: 16px;
}
.Clear{
    margin: 0px;
    padding-left: 37px;
    padding-right: 38px;
}
.errormsg{
    color: red;
}
.treasure{
    color: #480774;
}