button {
    margin: 5px;
    padding: 5px 25px;
    border: 1px solid #480774;
    border-radius: 8px;
    font-size: 15px;
    text-transform: capitalize;
    background-color: rgb(35, 167, 62);
    color: #ffffff;   
}

input {
    margin: 5px;
    padding: 10px 20px;
    border: 1px solid #480774;
    border-radius: 5px;
}

.checkbox {
    width: 20px;
    height: 20px;
    margin: 12px;
}

.pro {
    /* margin: 30px;
    padding: 10px;
    align-items: center;
    border: 3px solid goldenrod;
    border-radius: 10px;
    box-shadow: gold; */
  text-align: center;
  width: 70%;
  margin: 10px auto;
  background: whitesmoke;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px #a6652c;
}

.weather {
    text-align: center;
    width: 70%;
    margin: 10px auto;
    background: whitesmoke;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 2px 2px 10px #3bb7dc;
}

.text {
    font: 30px solid blue;
}