button {
    margin: 5px;
    padding: 7px 40px;
    border: 1px solid #480774;
    border-radius: 8px;
    font-size: 14px;
    text-transform: capitalize;
    background-color: rgb(35, 167, 62);
    color: #ffffff;   
}

input {
    margin: 5px;
    padding: 10px 20px;
    border: 1px solid #480774;
    border-radius: 5px;
}

.checkbox {
    width: 20px;
    height: 20px;
    margin: 12px;
}

.pro {
    margin: 20px;
    padding: 10px;
    align-items: center;
    border: 2px solid rgb(211, 152, 85);
    border-radius: 10px;
}
