button {
    margin: 5px;
    padding: 10px 30px;
    border: 1px solid #480774;
    border-radius: 10px;
    font-size: 17px;
    text-transform: capitalize;
    background-color: rgb(120 210 255);
    color: #2eb125;
    
}
button:disabled{
    background-color: #fdfdfd;
}

.mahi {
    color: mediumblue;
    font-style: italic;
}
.me {
    color: rgb(69, 210, 100);
    font-style:unset;
}

.whole {
    background-color:#fff3f0
}

.count {
    border: 3px solid #595656;
    font-size: 30px;
    border-radius: 10px;
    width: 200px;
    height: 200px;
    margin: 10px;
    text-align: center;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #d0ffef;
}

.number{
    font-size: 100px;
    padding: 15px;
}

.Todo{
    margin: 4px;
    padding: 10px 25px;
    border: 2px solid rgb(152, 155, 235);
    border-radius: 20px;
    font-size: 15px;
    font-style: italic;
    color: rgb(110, 26, 26);
}

.TodoBut{
    margin: 4px;
    padding: 10px 25px;
    border: 1px solid rgb(93, 95, 163);
    border-radius: 50px;
    text-transform: capitalize;
    font-size: 15px;
    font-style: italic;
    color: rgb(0, 0, 0);
    background-color: rgb(70, 220, 90);
}

.delete{
    margin: 2px;
    padding: 8px 10px;
    border: 1px solid rgb(93, 95, 163);
    border-radius: 8px;
    text-transform: capitalize;
    font-size: 15px;
    font-style: italic;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 0, 0);
}